

.review-name {
    margin-bottom: -10px
}

#post-review-button {
    display: flex;
    flex-direction: column;
     align-items: flex-start;
     margin-top: 25px;

}

#post-review-button button{
    width: 150px;
    margin-right: 50px;
    margin-left: 0px;
    background-color: #104789;
    color: #efd213;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    border-radius: 10px;
}

#delete-review-home {
    display: flex;
    margin-left: 0px;
}

#delete-review-home button{
    margin: 0px;
    border: 1px solid black;
    background-color: #104789;
    color: #efd213;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    border-radius: 10px;
}
