
* {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #000000;

}
.spots-wrapper {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    margin: 0 auto; /* Center horizontally within its parent container */
    max-width: 100%; /* To prevent it from exceeding the parent's width */
    margin-top: 100px;

}
.spots-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 21px;
    padding-right: 75px;
    gap: 100px;
  }

  #spot-img {
    width: 133%;
    height: 308px;
    object-fit: cover;
    border-radius: 15px;
  }

.each-spot {
    padding-bottom: 10px;
    position: relative;
    width: 300px;
}

.review {
    display: flex;
    justify-content: flex-end;
    margin-right: -75px;
}


.price {
    margin-left: 0px;
    margin-top: 2px;
}
.spot-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 100px;
    border-radius: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 159px;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    top: 31%;
    left: 68%;
    transform: translateX(-50%);
    height: 25px;
    font-size: 20px;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    margin-left: -5px;
    border-color: transparent transparent grey transparent
}

i {
    margin-right: 5px;
}
