.form-container {
    margin: auto;
    padding: 20px 0;
    width: 600px;
  }

.spot-form {
    max-width: 600px;
    /* width: 90% */
}

.top-section-labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-labels {
    display: flex;
    flex-direction: column;
}

#city-label {
    width: 50%
}

#state-label {
    width: 50%
}

.type-label {
    /* margin-right: 700px; */
    align-items:flex-start;
}

#ct-label {
    padding-right: 70px;
    /* margin-left: -30px */
}

.city-state {
    /* grid-gap: 18px; */
    display: grid;
    /* gap: 18px; */
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin: 0;

  }



#descrip-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

#name-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

#price-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

.img-link-box {
    display: flex;
    flex-direction: column;
}

.cushion {
    margin-bottom: 100px;
}

#spot-create {
    width: 169px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(199, 12, 12);
  color: white;
  box-shadow: 2px 2px 2px rgb(111, 109, 109);
  cursor: pointer;
  display: block;
  height: 50px;
  font-size: 18px;
}

.errors {
    color: red;
    display: flex;
    margin-top: 5px;
    margin-bottom: -5px;
}


#form-city {
    width: 330px;
}

.img-link-box {
    row-gap: 8px;
}
.description-char-length {
    /* border: 2px dashed red; */
    margin-top: 0px;
    font-size: 14px;
}

.cushion {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
