  .hidden {
    display: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 25px;
    margin-bottom: 25px; */
    /* padding-right: 0px; */
    border-bottom: 1px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    /* border: 5px dotted pink; */
    padding-bottom: 10px;
}

.home-icon {
  /* border: orange dashed 5px; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
  /* position: fixed; */
}

.nav-right-side {
  /* border: 5px dashed blue; */
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  max-height: 50px;
  /* position: fixed; */
  align-items: baseline;

}

.nav-right-side-create-spot {
  /* border: 3px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.nav-right-side-profile-button {
  /* border: 2px solid turquoise; */
  max-width: 5em;
}

#profile-button {
  /* background-color: rgba(170, 57, 212, 0.756); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  transition: 0.05s ease;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
  /* position: absolute; */
}

.wowbnb-icon{
  height: 100px;
  width: 100px;
  cursor: pointer;
  mix-blend-mode: multiply;
  margin-left: 25px;
}


#profile-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;

}

ul {
  list-style: none;
  position: fixed;
}
.logo{
  height: 75px;
  width: 140px;
  cursor: pointer;
}

.profile-dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,.12);
  list-style: none;
  margin-top: 10px;
  min-width: 65px;
  padding: 10px;
  position: absolute;
}

.profile-drop {

    display: flex;
    flex-direction: column;

}
