.login-container {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  /* margin: 0 auto 100px; */
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  display: flex;

}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    background-image: url("https://e0.pxfuel.com/wallpapers/361/433/desktop-wallpaper-in-celebration-of-wow-classic-a-painting-of-the-login-screen-credit-to-u-sharkrap-world-of-warcraft-world-of-warcraft-characters-world-of-warcraft-world-of-warcraft-minimalist.jpg");
    background-size: cover;
    margin: auto;
}

.login-form{
    /* display: flex; */
    /* flex-direction: column; */
    display: inline-block;
    text-align: right;
    padding: 4px;
    gap: 5px;
}

.username-fill-form {
    padding-bottom: 10px;
    display: flex;
    gap: 8px;

}

.password-form {
    padding-right: 8px;
}

.login-container h1{
    color: white
}

.username-fill-form label {
    color: white
}

.password-fill-form label {
    color: white
}
