.login-container {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  /* margin: 0 auto 100px; */
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  display: flex;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/XnvF48RqPvSZsvpSpNv27a.jpg");
    background-size: cover;
}

.login-form{
    /* display: flex; */
    /* flex-direction: column; */
    display: inline-block;
    text-align: right;
    padding: 4px;
    gap: 5px;
}

.username-fill-form {
    padding-bottom: 10px;
    display: flex;
    gap: 8px;

}

.password-form {
    padding-right: 8px;
}
